@model DomainDrivenDesign.Application.ViewModels.SecurityViewModel

@{
    ViewBag.Title = "Add new Security";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SecurityViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecurityCode)
                @Html.ValidationMessageFor(model => model.SecurityCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecurityName)
                @Html.ValidationMessageFor(model => model.SecurityName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sedol, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sedol)
                @Html.ValidationMessageFor(model => model.Sedol)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cusip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cusip)
                @Html.ValidationMessageFor(model => model.Cusip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Isin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Isin)
                @Html.ValidationMessageFor(model => model.Isin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
