@model DomainDrivenDesign.Application.ViewModels.SecuritySearch

@{
    ViewBag.Title = "Search using jQuery";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label for="NameToSearch" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.NameToSearch)</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.NameToSearch, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="TextToSearch" class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.TextToSearch)</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.TextToSearch, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" name="Search" id="Search" class="btn btn-primary">Search</button>
                <button type="button" name="ClearButton" id="ClearButton" class="btn btn-warning">Clear</button>
            </div>
        </div>

    </div>
}

<div id="Loading" class="text-info" style="display:none">Loading, please wait...</div>
<div id="ErrorMessage" class="bg-danger hidden">Loading, please wait...</div>

<div id="SecuritySearchGrid" class="container">
    @Html.Partial("SearchResultPartial", Model.Securities)
</div>

@section scripts
{
    <script>
        $(function () {
            $("#form1").on("submit", function (e) {
                e.preventDefault();
                debugger
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        $("#SecuritySearchGrid").html(data);
                    },
                })
                    .done(function () {
                        //alert("success (Done)");
                    })
                    .fail(function () {
                        //alert("(Fail)");
                    })
                    .always(function () {
                        //alert("(always)complete");
                    });
            });
        });

    </script>
}

