@model IEnumerable<DomainDrivenDesign.Application.ViewModels.SecurityViewModel>

   <table class="table table-striped table-hover table-responsive">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SecurityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sedol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cusip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isin)
        </th>
        <th/>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sedol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cusip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isin)
            </td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.SecurityId })</td>
        </tr>
    }

</table>



